.noted {
font-family: Quicksand, sans-serif;
color:white;
text-align:justify;
}

.noted:before { content: "You can keep or share this work but do not sell this work for any purpose. Any errors in translation, timing, and so on should be forgiven, as it was all done by myself. Also please watch it on the official site if there's any and possible for you. Don't forget to support Maiyan and her works by watching or buying on the official site."}