.notes {
font-family: Quicksand, sans-serif;
color:white;
text-align:justify;
}

.notes:before { content: "Karya ini bebas untuk disimpan dan dibagikan, tapi tolong jangan dijual lagi untuk tujuan apa pun. Segala kesalahan dalam penerjemahan, waktu, dan sebagainya, harap dimaafkan, karena semua dikerjakan sendiri. Jika bisa, silahkan menontonnya di situs resminya jika ada dan memungkinkan. Jangan lupa untuk mendukung Maiyan dan karya-karyanya dengan menonton atau membeli dari situs resmi."}